<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905805875674-uogm9pahvt92chef1ogcbp4om9pk3oj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905805875674-uogm9pahvt92chef1ogcbp4om9pk3oj5</string>
	<key>API_KEY</key>
	<string>AIzaSyDWAgxomziPfd95GUjx0CnXdy2ofuBCltQ</string>
	<key>GCM_SENDER_ID</key>
	<string>905805875674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nurmukhanbet.sertay.HomelyAdmin</string>
	<key>PROJECT_ID</key>
	<string>homely-5af3c</string>
	<key>STORAGE_BUCKET</key>
	<string>homely-5af3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905805875674:ios:f4fb81ee52936d1811d8e3</string>
</dict>
</plist>